    nve:
      vxlan:
        state: enabled
    evpn:
      state: enabled
      vni:
{% for vrf in attached_vrfs %}
        '{{ vrf.vni }}':
          rd: {{ router_id }}:{{ vrf.vni }}
{% if vrf.export_targets or vrf.import_targets %}
          route-target:
{% if vrf.export_targets %}
            export:
{% for target in vrf.export_targets %}
              {{ target }}: {}
{% endfor %}
{% endif %}
{% if vrf.import_targets %}
            import:
{% for target in vrf.import_targets %}
              {{ target }}: {}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
