{% extends 'generic/object_create.html' %}
{% load helpers %}
{% load form_helpers %}

{% block title %}
  Add Managed Devices
{% endblock title %}

{% block form %}
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Device Filters</strong>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% render_field form.location %}
          {% render_field form.roles %}
          {% render_field form.devices %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Config Manager Services</strong>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% render_field form.render_enabled %}
          {% render_field form.ztp_enabled %}
          {% render_field form.deploy_enabled %}
          {% render_field form.backup_enabled %}
          {% render_field form.is_aggregate_managed %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block buttons %}
<button type="submit" class="btn btn-primary">Add Devices</button>
<a href="{{ return_url }}" class="btn btn-default">Cancel</a>
{% endblock %}
