/*
Config Store API

PostgreSQL-backed configuration storage service

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ConfigAPIService ConfigAPI service
type ConfigAPIService service

type ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest struct {
	ctx                context.Context
	ApiService         *ConfigAPIService
	deviceUuid         string
	batchConfigRequest *BatchConfigRequest
}

func (r ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest) BatchConfigRequest(batchConfigRequest BatchConfigRequest) ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest {
	r.batchConfigRequest = &batchConfigRequest
	return r
}

func (r ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest) Execute() (*BatchConfigResponse, *http.Response, error) {
	return r.ApiService.BatchCreateConfigsV1ConfigDeviceUuidBatchPostExecute(r)
}

/*
BatchCreateConfigsV1ConfigDeviceUuidBatchPost Batch create/update config files

Batch create or update configuration files for a device.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceUuid
	@return ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest
*/
func (a *ConfigAPIService) BatchCreateConfigsV1ConfigDeviceUuidBatchPost(ctx context.Context, deviceUuid string) ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest {
	return ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest{
		ApiService: a,
		ctx:        ctx,
		deviceUuid: deviceUuid,
	}
}

// Execute executes the request
//
//	@return BatchConfigResponse
func (a *ConfigAPIService) BatchCreateConfigsV1ConfigDeviceUuidBatchPostExecute(r ApiBatchCreateConfigsV1ConfigDeviceUuidBatchPostRequest) (*BatchConfigResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BatchConfigResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigAPIService.BatchCreateConfigsV1ConfigDeviceUuidBatchPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/config/{device_uuid}/batch"
	localVarPath = strings.Replace(localVarPath, "{"+"device_uuid"+"}", url.PathEscape(parameterValueToString(r.deviceUuid, "deviceUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.batchConfigRequest == nil {
		return localVarReturnValue, nil, reportError("batchConfigRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchConfigRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest struct {
	ctx                 context.Context
	ApiService          *ConfigAPIService
	deviceUuid          string
	filename            string
	configCreateRequest *ConfigCreateRequest
}

func (r ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest) ConfigCreateRequest(configCreateRequest ConfigCreateRequest) ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest {
	r.configCreateRequest = &configCreateRequest
	return r
}

func (r ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest) Execute() (*ConfigResponse, *http.Response, error) {
	return r.ApiService.CreateConfigV1ConfigDeviceUuidFilenamePostExecute(r)
}

/*
CreateConfigV1ConfigDeviceUuidFilenamePost Create or update a config file

Create or update a configuration file.

If the content has not changed, the existing version is returned without creating a new one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceUuid
	@param filename
	@return ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest
*/
func (a *ConfigAPIService) CreateConfigV1ConfigDeviceUuidFilenamePost(ctx context.Context, deviceUuid string, filename string) ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest {
	return ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest{
		ApiService: a,
		ctx:        ctx,
		deviceUuid: deviceUuid,
		filename:   filename,
	}
}

// Execute executes the request
//
//	@return ConfigResponse
func (a *ConfigAPIService) CreateConfigV1ConfigDeviceUuidFilenamePostExecute(r ApiCreateConfigV1ConfigDeviceUuidFilenamePostRequest) (*ConfigResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConfigResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigAPIService.CreateConfigV1ConfigDeviceUuidFilenamePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/config/{device_uuid}/{filename}"
	localVarPath = strings.Replace(localVarPath, "{"+"device_uuid"+"}", url.PathEscape(parameterValueToString(r.deviceUuid, "deviceUuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.configCreateRequest == nil {
		return localVarReturnValue, nil, reportError("configCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.configCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest struct {
	ctx        context.Context
	ApiService *ConfigAPIService
	deviceUuid string
	filename   string
	fileType   *FileType
	version    *int32
}

func (r ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest) FileType(fileType FileType) ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest {
	r.fileType = &fileType
	return r
}

func (r ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest) Version(version int32) ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest {
	r.version = &version
	return r
}

func (r ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest) Execute() (*ConfigResponse, *http.Response, error) {
	return r.ApiService.GetConfigV1ConfigDeviceUuidFilenameGetExecute(r)
}

/*
GetConfigV1ConfigDeviceUuidFilenameGet Get a config file

Get a configuration file.

If version is not specified, returns the latest version.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceUuid
	@param filename
	@return ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest
*/
func (a *ConfigAPIService) GetConfigV1ConfigDeviceUuidFilenameGet(ctx context.Context, deviceUuid string, filename string) ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest {
	return ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceUuid: deviceUuid,
		filename:   filename,
	}
}

// Execute executes the request
//
//	@return ConfigResponse
func (a *ConfigAPIService) GetConfigV1ConfigDeviceUuidFilenameGetExecute(r ApiGetConfigV1ConfigDeviceUuidFilenameGetRequest) (*ConfigResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConfigResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigAPIService.GetConfigV1ConfigDeviceUuidFilenameGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/config/{device_uuid}/{filename}"
	localVarPath = strings.Replace(localVarPath, "{"+"device_uuid"+"}", url.PathEscape(parameterValueToString(r.deviceUuid, "deviceUuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fileType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", r.fileType, "form", "")
	} else {
		var defaultValue FileType = "intended"
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", defaultValue, "form", "")
		r.fileType = &defaultValue
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest struct {
	ctx        context.Context
	ApiService *ConfigAPIService
	deviceUuid string
	fileType   *FileType
}

func (r ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest) FileType(fileType FileType) ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest {
	r.fileType = &fileType
	return r
}

func (r ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest) Execute() ([]ConfigResponse, *http.Response, error) {
	return r.ApiService.GetDeviceConfigsV1ConfigDeviceDeviceUuidGetExecute(r)
}

/*
GetDeviceConfigsV1ConfigDeviceDeviceUuidGet Get all configs for a device

Get all latest configuration files for a device.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceUuid
	@return ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest
*/
func (a *ConfigAPIService) GetDeviceConfigsV1ConfigDeviceDeviceUuidGet(ctx context.Context, deviceUuid string) ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest {
	return ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceUuid: deviceUuid,
	}
}

// Execute executes the request
//
//	@return []ConfigResponse
func (a *ConfigAPIService) GetDeviceConfigsV1ConfigDeviceDeviceUuidGetExecute(r ApiGetDeviceConfigsV1ConfigDeviceDeviceUuidGetRequest) ([]ConfigResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ConfigResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigAPIService.GetDeviceConfigsV1ConfigDeviceDeviceUuidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/config/device/{device_uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"device_uuid"+"}", url.PathEscape(parameterValueToString(r.deviceUuid, "deviceUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fileType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", r.fileType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest struct {
	ctx         context.Context
	ApiService  *ConfigAPIService
	deviceUuid  string
	filename    string
	fromVersion *int32
	toVersion   *int32
	fileType    *FileType
}

func (r ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest) FromVersion(fromVersion int32) ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest {
	r.fromVersion = &fromVersion
	return r
}

func (r ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest) ToVersion(toVersion int32) ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest {
	r.toVersion = &toVersion
	return r
}

func (r ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest) FileType(fileType FileType) ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest {
	r.fileType = &fileType
	return r
}

func (r ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest) Execute() (*DiffResponse, *http.Response, error) {
	return r.ApiService.GetDiffV1ConfigDeviceUuidFilenameDiffGetExecute(r)
}

/*
GetDiffV1ConfigDeviceUuidFilenameDiffGet Get diff between two versions

Generate a diff between two versions of a configuration file.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceUuid
	@param filename
	@return ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest
*/
func (a *ConfigAPIService) GetDiffV1ConfigDeviceUuidFilenameDiffGet(ctx context.Context, deviceUuid string, filename string) ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest {
	return ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceUuid: deviceUuid,
		filename:   filename,
	}
}

// Execute executes the request
//
//	@return DiffResponse
func (a *ConfigAPIService) GetDiffV1ConfigDeviceUuidFilenameDiffGetExecute(r ApiGetDiffV1ConfigDeviceUuidFilenameDiffGetRequest) (*DiffResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiffResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigAPIService.GetDiffV1ConfigDeviceUuidFilenameDiffGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/config/{device_uuid}/{filename}/diff"
	localVarPath = strings.Replace(localVarPath, "{"+"device_uuid"+"}", url.PathEscape(parameterValueToString(r.deviceUuid, "deviceUuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fromVersion == nil {
		return localVarReturnValue, nil, reportError("fromVersion is required and must be specified")
	}
	if r.toVersion == nil {
		return localVarReturnValue, nil, reportError("toVersion is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from_version", r.fromVersion, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to_version", r.toVersion, "form", "")
	if r.fileType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", r.fileType, "form", "")
	} else {
		var defaultValue FileType = "intended"
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", defaultValue, "form", "")
		r.fileType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest struct {
	ctx        context.Context
	ApiService *ConfigAPIService
	deviceUuid string
	filename   string
	fileType   *FileType
	limit      *int32
}

func (r ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest) FileType(fileType FileType) ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest {
	r.fileType = &fileType
	return r
}

func (r ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest) Limit(limit int32) ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest) Execute() (*ConfigVersionsResponse, *http.Response, error) {
	return r.ApiService.ListVersionsV1ConfigDeviceUuidFilenameVersionsGetExecute(r)
}

/*
ListVersionsV1ConfigDeviceUuidFilenameVersionsGet List all versions of a config file

List all versions of a configuration file.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceUuid
	@param filename
	@return ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest
*/
func (a *ConfigAPIService) ListVersionsV1ConfigDeviceUuidFilenameVersionsGet(ctx context.Context, deviceUuid string, filename string) ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest {
	return ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceUuid: deviceUuid,
		filename:   filename,
	}
}

// Execute executes the request
//
//	@return ConfigVersionsResponse
func (a *ConfigAPIService) ListVersionsV1ConfigDeviceUuidFilenameVersionsGetExecute(r ApiListVersionsV1ConfigDeviceUuidFilenameVersionsGetRequest) (*ConfigVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConfigVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigAPIService.ListVersionsV1ConfigDeviceUuidFilenameVersionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/config/{device_uuid}/{filename}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"device_uuid"+"}", url.PathEscape(parameterValueToString(r.deviceUuid, "deviceUuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fileType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", r.fileType, "form", "")
	} else {
		var defaultValue FileType = "intended"
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_type", defaultValue, "form", "")
		r.fileType = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
