{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block content_left_page %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>VXLAN</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <colgroup>
            <col style="width: 25%;">
            <col>
        </colgroup>
        <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{ object.status|hyperlinked_object_with_color }}</td>
        </tr>
        <tr>
            <th scope="row">VNI</th>
            <td>{{ object.vnid }}</td>
        </tr>
        <tr>
            <th scope="row">VNI Type</th>
            <td>{{ object.get_vni_type_display }}</td>
        </tr>
        <tr>
            <th scope="row">L3 VLAN ID</th>
            <td>{{ object.l3_vlan_id|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">Namespace</th>
            <td>{{ object.namespace|hyperlinked_object|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">Overlay</th>
            <td>{{ object.overlay|hyperlinked_object|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">Tenant</th>
            <td>{{ object.tenant|hyperlinked_object|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">VLAN</th>
            <td>{{ object.vlan|hyperlinked_object|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">VRF</th>
            <td>{{ object.vrf|hyperlinked_object|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">Import route targets (VNI)</th>
            <td>
                {% if object.import_targets.exists %}
                    {% for rt in object.import_targets.all %}
                        {{ rt|hyperlinked_object }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {{ None|placeholder }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Export route targets (VNI)</th>
            <td>
                {% if object.export_targets.exists %}
                    {% for rt in object.export_targets.all %}
                        {{ rt|hyperlinked_object }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {{ None|placeholder }}
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock content_left_page %}

{% block content_right_page %}
{% if object.vrf %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Linked VRF (L3)</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <colgroup>
            <col style="width: 25%;">
            <col>
        </colgroup>
        <tr>
            <th scope="row">Route distinguisher</th>
            <td>{{ object.vrf.rd|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">Import route targets (VRF)</th>
            <td>
                {% if object.vrf.import_targets.exists %}
                    {% for rt in object.vrf.import_targets.all %}
                        {{ rt|hyperlinked_object }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {{ None|placeholder }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Export route targets (VRF)</th>
            <td>
                {% if object.vrf.export_targets.exists %}
                    {% for rt in object.vrf.export_targets.all %}
                        {{ rt|hyperlinked_object }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {{ None|placeholder }}
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endif %}
{% if object.overlay %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Overlay Details</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <colgroup>
            <col style="width: 25%;">
            <col>
        </colgroup>
        <tr>
            <th scope="row">Overlay</th>
            <td>{{ object.overlay|hyperlinked_object }}</td>
        </tr>
        <tr>
            <th scope="row">Overlay Status</th>
            <td>{{ object.overlay.status|hyperlinked_object_with_color }}</td>
        </tr>
        <tr>
            <th scope="row">Location</th>
            <td>{{ object.overlay.location|hyperlinked_object|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">Isolation Type</th>
            <td>{{ object.overlay.get_isolation_type_display|placeholder }}</td>
        </tr>
    </table>
</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Overlay Assignments</strong>
    </div>
    <div class="panel-body">
        {% if overlay_assignments_table.rows|length %}
            {% render_table overlay_assignments_table %}
        {% else %}
            <p class="text-muted">This VXLAN is not assigned to any overlays.</p>
        {% endif %}
    </div>
</div>
{% endblock content_right_page %}
