---

{% if json.roles is defined and json.roles | length > 0 %}
roles:
{% for role in json.roles %}
  - "!create_or_update:name": {{ role.name }}
    color: {{ role.color | default(color("blue")) }}
{% endfor %}
{% else %}
roles: []
{% endif %}
