---

{% if json.spx_namespaces is defined and json.spx_namespaces | length > 0 %}
namespaces:
  {% for ns in json.spx_namespaces %}
  - "!create_or_update:name": {{ ns.name | tojson }}
    location:
      "!get:name": {{ ns.location | tojson }}
    tags:
      - "!get:name": spectrumx
  {% endfor %}
{% else %}
namespaces: []
{% endif %}
