---

{% if statuses is defined and statuses | length > 0 %}
statuses:
  {% for status in statuses %}
  - "!create_or_update:name": {{ status.name }}
    color: {{ color(status.color) }}
    content_types:
      {% for content_type in status.content_types %}
      - "!get:app_label": {{ content_type.split(".")[0] }}
        "!get:model": {{ content_type.split(".")[1] }}
      {% endfor %}
  {% endfor %}
{% else %}
statuses: []
{% endif %}
