{% load helpers %}

<tr>
  <td>Intended Config Version</td>
  {% if config_store_links.intended_config_version %}
    <td>
      <a href="{{ config_store_links.intended_config_version }}"
         target="_blank" title="{{ object.intended_config.commit_message }}">
        {{ object.intended_config.updated }}
      </a>
    </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
</tr>
<tr>
  <td>Intended Config Updated By</td>
  <td>{{ object.intended_config.updated_by|placeholder }}</td>
</tr>
<tr>
  <td>Intended Config History</td>
  {% if config_store_links.intended_config_history %}
  <td>
    <a href="{{ config_store_links.intended_config_history }}"
       target="_blank">
      <i class="mdi mdi-history" title="Intended Configuration History"></i>
    </a>
  </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <td>Last Config Backup</td>
  {% if config_store_links.last_config_backup %}
  <td>
    <a href="{{ config_store_links.last_config_backup }}"
       target="_blank" title="{{ object.backup_config.commit_message }}">
      {{ object.backup_config.updated }}
    </a>
  </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <td>Backup History</td>
  {% if config_store_links.backup_history %}
    <td>
      <a href="{{ config_store_links.backup_history }}"
         target="_blank">
        <i class="mdi mdi-history" title="Backup Configuration History"></i>
      </a>
    </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <td>Render Enabled</td>
  <td>
    {% if object.render_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <td>ZTP Enabled</td>
  <td>
    {% if object.ztp_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <td>Deploy Enabled</td>
  <td>
    {% if object.deploy_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <td>Backup Enabled</td>
  <td>
    {% if object.backup_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <td>Aggregate Managed</td>
  <td>
    {% if object.is_aggregate_managed %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
