{% load helpers %}

<tr>
  <th scope="row">Intended Config Version</th>
  {% if config_store_links.intended_config_version %}
    <td>
      <a href="{{ config_store_links.intended_config_version }}"
         target="_blank" title="{{ object.intended_config.commit_message }}">
        {{ object.intended_config.updated }}
      </a>
    </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <th scope="row">Intended Config Updated By</th>
  <td>{{ object.intended_config.updated_by|placeholder }}</td>
</tr>
<tr>
  <th scope="row">Intended Config History</th>
  {% if config_store_links.intended_config_history %}
  <td>
    <a href="{{ config_store_links.intended_config_history }}"
       target="_blank">
      <i class="mdi mdi-history" title="Intended Configuration History"></i>
    </a>
  </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <th scope="row">Live Config Diff</th>
  {% if temporal_url %}
    <td>
      <a href="{{ temporal_url }}/workflows/configdiffworkflow/form?site={{ site|urlencode }}&device-id={{ device_id }}{% if tenant %}&tenant={{ tenant|urlencode }}{% endif %}{% if status %}&status={{ status|urlencode }}{% endif %}"
         target="_blank" class="btn btn-xs btn-primary">
        <i class="mdi mdi-file-compare" aria-hidden="true"></i> See Diff
      </a>
    </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <th scope="row">Last Config Backup</th>
  {% if config_store_links.last_config_backup %}
  <td>
    <a href="{{ config_store_links.last_config_backup }}"
       target="_blank" title="{{ object.backup_config.commit_message }}">
      {{ object.backup_config.updated }}
    </a>
  </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <th scope="row">Backup History</th>
  {% if config_store_links.backup_history %}
    <td>
      <a href="{{ config_store_links.backup_history }}"
         target="_blank">
        <i class="mdi mdi-history" title="Backup Configuration History"></i>
      </a>
    </td>
  {% else %}
    <td>
      —
    </td>
  {% endif %}
</tr>
<tr>
  <th scope="row">Render Enabled</th>
  <td>
    {% if object.render_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <th scope="row">ZTP Enabled</th>
  <td>
    {% if object.ztp_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <th scope="row">Deploy Enabled</th>
  <td>
    {% if object.deploy_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <th scope="row">Backup Enabled</th>
  <td>
    {% if object.backup_enabled %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
<tr>
  <th scope="row">Aggregate Managed</th>
  <td>
    {% if object.is_aggregate_managed %}
      <i class="mdi mdi-check-circle" style="color: green;"></i>
    {% else %}
      <i class="mdi mdi-close-circle" style="color: red;"></i>
    {% endif %}
  </td>
</tr>
